.homescreen-container .primary-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2em 0 10em 0;
  margin: 0;
  background-image: linear-gradient(180deg, #bfcfff, #f8faff);
  align-items: center;
}

.authsection-container {
  min-width: 20em;
  max-width: 30em;
  background-color:#f8faff;
  border-radius: 0.5em;
}